flask==2.3.2
flask-CORS==3.0.10
werkzeug==2.3.4

pyjwt==2.8.0
bcrypt==4.1.2

transformers==4.38.2
torch==2.2.0
sentencepiece==0.1.99

spacy==3.7.2
indic-transliteration==2.3.56
langdetect==1.0.9
googletrans==4.0.0-rc1

streamlit==1.37.0
requests==2.31.0
pandas==2.1.4
matplotlib==3.8.2

